.carousel {
    position: relative;
    margin: 0 0 2rem 0;
    overflow: hidden;
}

.carousel__images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel__image {
    display: none; 
    height: 800px;
    width: 100%;
}

.carousel__image:first-child {
    display: block; 
}

.carousel__button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #0000BB;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button--prev {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}

.texto__oficina {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 4rem 0;
}

.corpo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    text-align: center;
}

.imagem__corpo {
    object-fit: cover;
    height: 250px;
    margin-bottom: 0.2rem;
    width: 250px;
}

.titulo__corpo {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.descricao__corpo {
    margin-bottom: 1rem;
}

.link__corpo {
    background-color: #0000BB;
    border: solid 0.6rem #0000BB;
    border-radius: 0.6rem;
    color: #ffffff;
    text-decoration: none;
}

.link__corpo:hover {
    background-color: #00008B;
}

.topo {
    background-color: #0000BB; 
    border: none; 
    border-radius: 0.6rem; 
    bottom: 1.25rem; 
    color: #ffffff; 
    cursor: pointer; 
    display: none; 
    font-size: 1rem; 
    padding: 0.6rem; 
    position: fixed; 
    right: 1.25rem; 
    z-index: 99; 
}

.topo:hover {
    background-color: #00008B;
}



@media (max-width: 768px) {
    .carousel__image {
        height: 500px;
    }

    .texto__oficina {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .corpo {
        align-items: center;
        flex-direction: column;
    }

    .imagem__corpo {
        height: 300px;
        width: 300px;
        margin-top: 2rem;
    }

    .titulo__corpo {
        font-size: 1.2rem;
    }

    .descricao__corpo {
        margin-bottom: 0.8rem;
    }

    .link__corpo {
        margin-bottom: 3rem;
    }

    .topo {
       margin-bottom: 2rem;
    }
}


