.cabecalho__imagem {
    width: 100%;
}

.menu {
    align-items: center;
    background-color: #000000;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 0.8rem;
}

.menu__lista {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__lista:hover {
  color: #0000b8;
    font-size: 1.8rem;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    gap: 0.5rem;
  }
}
