.rodape {
    align-items: center;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
}

.rodape__horario {
    color: #FFFFFF;
}

.titulo__horario {
    font-size: 1.6rem;
    font-weight: bold;
}

.horario__horario {
    color: #0000BB;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.4rem 0;
}

.rodape__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
}

.botao__link {
    align-items: center;
    color: #f6f6f6;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin-left: 20rem;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

.botao__link:hover {
    color: #00008B;
}

.imagem__redes {
    padding: 0.5rem 1rem;
    width: 8%;
}

@media (max-width: 768px) {
    .rodape {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .rodape__horario {
        margin-bottom: 0.5rem;
    }

    .rodape__link {
        flex-direction: row;
    }

    .botao__link {
        margin-left: 0;
        margin-top: 1rem;
        max-width: none;
        width: 100%;
    }

    .imagem__redes {
        width: 12%;
    }
}
